//backgrounds
$header-bg: #fff;
$body-bg: #fff;
$section-bg: #EEEEEE;
$socials-bg: #81B3D2;

//colors
$primary-color: #fff;
$secondary-color: #161616;
$title-color: #000;

//buttons
$button-primary-bg: #81B3D2;

//breakpoints




//fonts
$basic-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
