//backgrounds
$header-bg: #FFF;
$main-body-bg: #E7E5E5;
$disabled-color: #E5E5E5;
$body-bg: #FFF;
$section-bg: #EEEEEE;
$socials-bg: #81B3D2;
$hover-socials-bg: #669EC0;
$active-socials-bg: #5496BD;
$button-bg: #81B3D2;
$about-bg: #81B3D2;
$input-bg: #F2F2F2;
$input-checked-bg: #333;
$input-picture-bg: #E6E6E6;

//colors
$primary-color: #fff;
$secondary-color: #161616;
$title-color: #000;
$text-color: #333;

//buttons
$button-primary-bg: #81B3D2;

$box-item-color: red; //box__item
$box-item-bg-color: green; //box__item

//breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;


//fonts
$basic-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
