//backgrounds
$header-bg: #fff;
$main-body-bg: #E7E5E5;
$body-bg: #fff;
$section-bg: #EEEEEE;
$socials-bg: #81B3D2;
$about-bg: #81B3D2;

//colors
$primary-color: #fff;
$secondary-color: #161616;
$title-color: #000;

//buttons
$button-primary-bg: #81B3D2;

$box-item-color: red; //box__item
$box-item-bg-color: green; //box__item

//breakpoints
$tablet: 768px;
$desctop: 1024px;


//fonts
$basic-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
