.about__description {
  padding: 65px 12px 40px 13px;
  background-color: $about-bg;
  color: $body-bg;
  text-align: center;
  text-transform: uppercase;
  position: relative;

}


.about__description:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: url('../img/white-copy.svg') no-repeat top center;
}


.about__description-title {
  margin-bottom: 20px;
  @include font(18px, 26px, 700);
}


.about__description-count {
  margin-bottom: 27px;
  @include font(21px, 15px, 400);
}


.about__description-text {
  @include font(18px,26px,400);
}

.about__image-pic {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 260px;
}


@media screen and(min-width: 768px) {
  .about {
    display: flex;
  }


  .about__description {
    width: 40%;
  }

  .about__image {
    width: 60%;
  }

}


@media screen and(min-width: 1024px) {
  .about {
    display: flex;
  }

  .about__description {
    width: 40%;
  }

  .about__image {
    width: 60%;
  }
}

