
.advantages {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 11px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style-type: none;
}


@include tablet {
  .advantages {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 63px;
    padding-bottom: 59px;
    padding-left: 36px;
    padding-right: 31px;
  }

  .advantages__item {
    flex-direction: column;
  }

  }


@include tablet {
    .advantages {
      grid-template-columns: repeat(3, 1fr);
      padding-top: 59px;
      padding-bottom: 80px;
      padding-left: 58px;
      padding-right: 78px;
    }

    .advantages__item {
      justify-content: center;
      align-items: center;
    }

    .advantages__icon-pic {
      margin-bottom: 27px;
    }

    .advantages__item-description {
      text-align: center;
    }
  }


.advantages__item {
  margin-bottom: 26px;
  display: flex;

}


.advantages__icon-pic {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 10px;
  @include tablet {
    width: 72px;
    height: 72px;
  }
  @include desktop {
    width: 72px;
    height: 72px;
  }
}


.advantages__item-title {
  @include font(21px, 26px, 700);
  margin-bottom: 16px;
  text-transform: uppercase;
}


.advantages__item-text {
  @include font(14px ,21px );
  max-width: 200px;
}






