
.advantages {
  padding: 35px 11px 35px 35px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  list-style-type: none;
  @include mobile{
    grid-template-columns: repeat(2, 1fr);
  }
  @include tablet{
    grid-template-columns: repeat(3, 1fr);
    padding: 63px 31px 59px 36px;
  }
  @include desktop{
    padding: 59px 78px 80px 58px;
  }
}

.advantages__item-title {
  @include font(18px,26px, 700);
  color: $title-color;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.advantages__item-text {
  @include font(14px,21px);
  color: $text-color;
}

.advantages__icon-pic {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  @include tablet {
    width: 72px;
    height: 72px;
    margin-right: 0;
    margin-bottom: 27px;
  }
  @include desktop {
    width: 72px;
    height: 72px;
    margin-right: 0;
  }
}

.advantages__item-text {
  @include font(14px ,21px);
  max-width: 200px;
  text-transform: uppercase;
   @include tablet {
     max-width: none;
   }
}

.advantages__item {
  display: flex;
  @include tablet {
    display: block;
    text-align: center;
  }
}




