.footer {
  padding: 34px 84px 28px 84px;
  text-align: center;
}

.footer__title {
  @include font(21px, 26px, 700);
  margin-bottom: 18px;
}

@include tablet {
  .footer__title {
    margin-bottom: 0;
  }
}


.footer__developer {
  display: none;
}




@include tablet {
  .footer__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
  }

  .footer__developer {
    display: block;
  }

  .footer__developer-body {
    display: flex;
    align-items: center
  }

  .footer__developer-text {
    @include font(14px,26px);
    text-transform: uppercase;
    margin-right: 13px;
  }

  .footer__developer-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .footer__developer-icon:hover {
    stroke: #81B3D2;
  }

  .footer__developer-icon:active {
    opacity: .3;
  }
}



