.footer {
  padding: 24px 84px 28px 85px;
  text-align: center;
}

.footer__title {
  @include font(21px, 26px, 700);
  margin-bottom: 18px;
}


.footer__developer {
  display: none;
}


@include tablet {
  .footer__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
  }

  .footer__developer {
    display: block;
  }

  .footer__developer-body {
    display: flex;
    align-items: center
  }

  .footer__developer-text {
    @include font(14px,26px);
    text-transform: uppercase;
  }

  .footer__developer-icon {
    width: 30px;
    height: 30px;
  }
}



