.introduction--offset {
  padding: 20px 75px 25px 75px;
  position: relative;
}


.introduction--offset:after {
  content: '';
  position: absolute;
  background-color: #D6D6D6;
  // height: 1px;
  // left: 0;
  // right: 0;
  // bottom: 20px;
}


@include tablet {
  .introduction--offset:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    bottom: 0;
    width: 1px;background-color: #D6D6D6;
    height: auto;
    left: auto;
  }
}




.introduction__title {
  @include font(18px, 26px, 700);
  color: $title-color;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 19px;
}

.introduction__form {

}

.introduction__label {
  @include font(14px, 26px);
  color: $text-color;
  text-transform: uppercase;
}

::placeholder {
  @include font(18px, 26px, 700);
  color: $title-color;
}

.introduction__row {
  display: flex;
  margin-bottom: 20px;
}

.introduction__input {
  background-color: $input-bg;
  outline: none;
  border: none;
  padding: 20px;
  width: 100%;
}


.introduction__input--surname {

}

.introduction__input--secondname {

}


.introduction__input--name {

}


.introduction__label {
  margin-right: 20px;
}


