.nav {
    background-color: #81B3D2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    // display: none;
}



.nav__list {
    list-style-type: none;
    position: relative;
}

.nav__list:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.nav__item {
    position: relative;
}

.nav__item:not(:last-child)::before {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(#010101, .2) 50% , rgba(#ffffff, .2) 50%);
}



.nav__link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 9px;
}

// @media screen and(max-width: 500px) {//это образец,пока не удалять.Тут нужно будет поставить наоборот min-width,чтобы для планшета пункты меню меняли своё расположение
//     .nav__link {
//         color: red;
//     }
// }