.nav {
    background-color: #81B3D2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: none;
}



.nav__list {
    list-style-type: none;
    position: relative;
}

.nav__list:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.nav__item {
    position: relative;
}

.nav__item:not(:last-child)::before {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(#010101, .2) 50% , rgba(#ffffff, .2) 50%);
}



.nav__link {
    display: block;
    @include font(18px, 40px, 700);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 9px;
}



@media screen and(min-width: 768px) {
    .nav{
        display: flex;
        justify-content: center;
        background-color: #fff;
    }

    .nav__item {
        margin-right: 50px;
    }

    .nav__item:last-child {
        margin-right: 0;
    }

    .nav__list {
        display: flex;
    }

    .nav__link {
        color: #000;
    }

    .nav__item:not(:last-child)::before {
        display: none;
    }
}


@media screen and(min-width: 1020px) {
    .nav__item {
        margin-right: 100px;
    }
    
    .nav__item:last-child {
        margin-right: 0;
    }
}


@media screen and(min-width: 768px) {
    .nav__list:after {
        background: none;
    }
}