.socials__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6px;
}

.socials__item {
  background-color: $socials-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 14px 17px 14px;
}

.socials__item-icon {
  width: 24px;
  height: 24px;
}