.socials__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6px;
}


.socials__item {
  background-color: $socials-bg;
}


.socials__link {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.socials__link:active > .socials__item-icon {
  opacity: .3;
}


.socials__item:hover {
  background-color: $hover-socials-bg;
}

.socials__item:active {
  background-color: $active-socials-bg;
}


.socials__item-icon {
  width: 20px;
  height: 20px;
}




